#baseLayout {
  margin: 0px;
  height: 100vh;
  background: linear-gradient(#cdb4db, #a2d2ff);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto repeat(4, 1fr);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
#baseLayout a {
  text-decoration: none;
  color: inherit;
}

#headerNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#landing {
  grid-column: 1/1;
  grid-row: 2/4;
  align-self: center;
}
#landing #landingNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#landing #landingNav #loginLink {
  margin-bottom: 10px;
}
#landing #landingNav .landingLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
  height: 50px;
  width: 200px;
  border-width: 4px;
  border-style: solid;
  border-radius: 15px;
  border-image: linear-gradient(to right, #ffafcc, #a2d2ff) 1;
  backdrop-filter: blur(8px);
  box-shadow: 2px 2px 5px 0.5px gray;
}
#landing #landingNav .landingLink:hover {
  background-color: #ffafcc;
}

#login #loginCredentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login #loginCredentials .loginInputs {
  margin: 3px auto;
  padding: 3px 0px 3px 5px;
  height: 25px;
  width: 190px;
  border: none;
  border-radius: 3px;
}
#login #loginCredentials #loginBtn {
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 3px auto;
  padding: 3px 0px 3px 5px;
  width: 190px;
  height: 30px;
  transition: 0.25s;
  font-weight: 200;
  background-color: #bde0fe;
}
#login #loginCredentials #loginBtn:hover {
  cursor: pointer;
  background-color: #ffafcc;
}

#register #registerCredentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#register #registerCredentials .registerInputs {
  margin: 3px auto;
  padding: 3px 0px 3px 5px;
  height: 25px;
  width: 190px;
  border: none;
  border-radius: 3px;
}
#register #registerCredentials #registerBtn {
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 3px auto;
  padding: 3px 0px 3px 5px;
  width: 190px;
  height: 30px;
  transition: 0.25s;
  font-weight: 200;
  background-color: #ffafcc;
}
#register #registerCredentials #registerBtn:hover {
  cursor: pointer;
  background-color: #bde0fe;
}

#home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto repeat(4, 1fr);
}
#home #spaceNav {
  grid-column: 1/1;
  grid-row: 2/4;
}

#space {
  display: none;
}

@media (min-width: 641px) {
  #space {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
    height: 100vh;
    width: 100%;
  }
  #space #showTitle {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;
  }
  #space #spaceTitle {
    border: 2px solid yellow;
  }
  #space #spacesInfo {
    overflow-y: scroll;
    scroll-behavior: smooth;
    grid-column: 1/4;
    grid-row: 2/3;
    border: 2px solid red;
  }
  #space #memberInfo {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
  }
  #space #memberInfo #memberList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #space #postSection {
    overflow-y: scroll;
    scroll-behavior: smooth;
    grid-column: 1/4;
    grid-row: 3/4;
    border: 2px solid blue;
  }
  #space #chatSection {
    border: 2px solid green;
  }
  #space #eventList {
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 2px solid gray;
  }
  #space #eventContainer {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  #space #eventContainer #event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 25px;
  }
  #space #eventContainer #event #newEvent #eventDataInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #space #eventDetails {
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 2px solid gold;
  }
}
@media (min-width: 1025px) {
  #space {
    grid-template-columns: 25% repeat(5, 1fr) 25%;
    grid-template-rows: auto repeat(10, 1fr);
    width: 100%;
  }
  #space #spaceTitle {
    border: 2px solid yellow;
    grid-column: 2/6;
    grid-row: 1/2;
  }
  #space #spacesInfo {
    grid-column: 1/2;
    grid-row: 1/6;
    border: 2px solid red;
  }
  #space #memberInfo {
    grid-column: 2/6;
    grid-row: 2/3;
  }
  #space #memberInfo #memberList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #space #postSection {
    grid-column: 2/6;
    grid-row: 3/12;
    border: 2px solid blue;
  }
  #space #chatSection {
    border: 2px solid green;
    grid-column: 1/2;
    grid-row: 6/12;
  }
  #space #eventContainer {
    border: 2px solid purple;
    grid-column: 6/8;
    grid-row: 1/5;
  }
  #space #eventList {
    border: 2px solid gray;
    grid-column: 6/8;
    grid-row: 5/8;
  }
  #space #eventDetails {
    grid-column: 6/8;
    grid-row: 8/12;
    border: 2px solid gold;
  }
}
#mobileSpace {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100vh;
  width: 100%;
}
#mobileSpace div {
  grid-column: 1/4;
  grid-row: 1/5;
}
#mobileSpace div #spaceTitle {
  border: 2px solid yellow;
}
#mobileSpace div #memberInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
#mobileSpace div #memberInfo #memberList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#mobileSpace #spacesInfo {
  overflow-y: scroll;
  scroll-behavior: smooth;
  grid-column: 1/4;
  grid-row: 1/5;
  border: 2px solid red;
}
#mobileSpace #postSection {
  overflow-y: scroll;
  scroll-behavior: smooth;
  grid-column: 1/4;
  grid-row: 1/5;
  border: 2px solid blue;
}
#mobileSpace #chatSection {
  border: 2px solid green;
  overflow-y: scroll;
  scroll-behavior: smooth;
  grid-column: 1/4;
  grid-row: 1/5;
}
#mobileSpace div {
  overflow-y: scroll;
  scroll-behavior: smooth;
  grid-column: 1/4;
  grid-row: 1/5;
}
#mobileSpace div #eventList {
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid gray;
}
#mobileSpace div #event {
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 25px;
}
#mobileSpace div #event #newEvent #eventDataInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mobileSpace div #eventDetails {
  overflow-y: scroll;
  scroll-behavior: smooth;
  border: 2px solid gold;
}
#mobileSpace #componentSelect {
  grid-column: 1/5;
  grid-row: 5/6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}
#mobileSpace #componentSelect .toggleComponents {
  margin: 0px 10px;
}

@media (min-width: 641px) {
  #mobileSpace {
    display: none;
  }
}
#spaceNav #spaceCredentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 25px 0px 25px;
  background: linear-gradient(#ffc8dd, #bde0fe);
  border: 2px solid black;
  border-radius: 10px;
  z-index: 10;
  height: 200px;
}
#spaceNav #spaceCredentials h5 {
  margin: 0px;
}
#spaceNav #spaceCredentials p {
  width: 70%;
}
#spaceNav #spaceCredentials input {
  margin: 3px auto;
  padding: 3px 0px 3px 5px;
  height: 25px;
  width: 190px;
  border: none;
  border-radius: 3px;
}
#spaceNav #spaceCredentials #submitSpaceBtn {
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 3px auto;
  padding: 3px 0px 3px 5px;
  width: 190px;
  height: 30px;
  transition: 0.25s;
  font-weight: 200;
  background-color: #cdb4db;
}
#spaceNav #spaceCredentials #submitSpaceBtn:hover {
  cursor: pointer;
  background-color: #ffc8dd;
}
#spaceNav #createSpaceSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#spaceNav #createSpaceSection #createSpace #createSpaceBtn {
  border: none;
  margin-left: 15px;
}
#spaceNav #createSpaceSection #createSpace #createSpaceBtn:hover #createHoverText {
  visibility: visible;
}
#spaceNav #createSpaceSection #createSpace #createSpaceBtn #createHoverText {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: 40px;
  margin-left: 15px;
  padding: 10px;
  font-size: 13px;
  background-color: #0d1b2a;
  color: white;
}
#spaceNav #mySpacesList {
  grid-column: 1/1;
  grid-row: 2/4;
}

/*# sourceMappingURL=output.css.map */
