@import './mixins';

// App Component is the base layout

// Mobile First
#baseLayout {
  margin: 0px;
  height: 100vh;
  background: linear-gradient($lightPalette1, $lightPalette5);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto repeat(4, 1fr);
  a {
    text-decoration: none;
    color: inherit;
  }
}

// small tablets
@media (min-width: 481px) {
}

// portrait tablets
@media (min-width: 641px) {
}

// landscape tablets
@media (min-width: 961px) {
}

// laptops
@media (min-width: 1025px) {
}

// high res laptops and desktops
@media (min-width: 1281px) {
}
