@import './mixins';

// App Component is the base layout

// Mobile First
#baseLayout {
  margin: 0px;
  height: 100vh;
  background: linear-gradient($lightPalette5, $lightPalette2);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  #secondLayerContainer {
    height: 100vh;
    background: center url('/src/images/Gather-3-min.png') no-repeat;
    background-size: cover;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

// small tablets
@media (min-width: 481px) {
}

// portrait tablets
@media (min-width: 641px) {
}

// landscape tablets
@media (min-width: 961px) {
}

// laptops
@media (min-width: 1025px) {
}

// high res laptops and desktops
@media (min-width: 1281px) {
}
