@import './mixins';

#headerNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  #logo2 {
    grid-column: 1 / 2;
    align-self: center;
    height: 50px;
    margin: 10px;
  }
  .authBtns {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: flex-end;
    margin-right: 20px;
    font-size: 0.8em;
    @include flex(row, center, center);
    #logout {
      outline: none;
      border: none;
      border-radius: 3px;
      height: 30px;
      width: 80px;
      background-color: $lightPalette3;
      margin-right: 5px;
      box-shadow: 2px 2px 5px 0.5px gray;
      &:hover {
        cursor: pointer;
        background-color: $lightPalette1;
      }
    }
    #userAccount {
      outline: none;
      border: none;
      border-radius: 3px;
      height: 30px;
      width: 80px;
      background-color: $lightPalette1;
      margin-right: 5px;
      box-shadow: 2px 2px 5px 0.5px gray;

      &:hover {
        cursor: pointer;
        background-color: $lightPalette2;
      }
    }
    #guest {
      outline: none;
      border: none;
      border-radius: 3px;
      height: 30px;
      width: 80px;
      background-color: $lightPalette3;
      margin-right: 5px;
      box-shadow: 2px 2px 5px 0.5px gray;
      &:hover {
        cursor: pointer;
        background-color: $lightPalette1;
      }
    }
  }
}

@media (min-width: 481px) {
}

// portrait tablets
@media (min-width: 641px) {
  #headerNav {
    .authBtns {
      grid-column: 2 / 3;
      align-self: center;
      justify-self: flex-end;
      font-size: 1.2em;
      #logout {
        width: 120px;
        height: 40px;
      }
      #userAccount {
        width: 120px;
        height: 40px;
      }
      #guest {
        width: 120px;
        height: 40px;
      }
    }
  }
}

// landscape tablets
@media (min-width: 961px) {
}

// laptops
@media (min-width: 1025px) {
  #headerNav {
    .authBtns {
      grid-column: 2 / 3;
      align-self: center;
      justify-self: flex-end;
      font-size: 1.3em;
      #logout {
        height: 35px;
        width: 130px;
      }
      #userAccount {
        height: 35px;
        width: 130px;
      }
      #guest {
        height: 35px;
        width: 130px;
      }
    }
  }
}

// high res laptops and desktops
@media (min-width: 1281px) {
}
