@import './mixins';

#landing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 200px 1fr;
  height: 90vh;
  #landingNav {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    margin-left: 10px;
    @include flex(column, center, center);
    #loginLink {
      margin-bottom: 10px;
    }
    .landingLink {
      &:hover {
        background-color: $lightPalette3;
      }
      @include flex(column, center, center);
      color: black;
      font-weight: bolder;
      height: 50px;
      width: 130px;
      border-width: 4px;
      border-style: solid;
      border-radius: 15px;
      border-image: linear-gradient(to right, $lightPalette3, $lightPalette5) 1;
      backdrop-filter: blur(8px);
      box-shadow: 2px 2px 5px 0.5px gray;
    }
  }
  #bodyLogo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 10px;
    align-self: center;
    justify-self: center;
    @include flex(column, center, center);
    #logo1 {
      height: 150px;
    }
  }
  #siteInfo {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: flex-start;
    justify-self: center;
    width: 80%;
    color: #8a2846;
    @include flex(column, center, center);
    h3 {
      font-size: 1.1em;
      text-align: center;
      margin: 10px;
    }
    h4 {
      font-size: 1em;
      text-align: center;
      margin: 10px;
      line-height: 18px;
    }
  }
}

// portrait tablets
@media (min-width: 641px) {
  #landing {
    grid-template-rows: 250px 1fr;
    height: 100vh;
    #landingNav {
      justify-self: flex-end;
      margin-right: 70px;
      .landingLink {
        height: 60px;
        width: 170px;
        font-size: 1.2em;
      }
    }
    #bodyLogo {
      justify-self: flex-start;
      #logo1 {
        height: 250px;
      }
    }
    #siteInfo {
      margin-top: 20px;
      h3 {
        font-size: 1.1em;
        text-align: center;
        margin: 10px;
      }
      h4 {
        font-size: 1em;
        text-align: center;
        margin: 10px;
        line-height: 18px;
      }
    }
  }
}

// landscape tablets
@media (min-width: 961px) {
  #landing {
    grid-template-rows: 350px 1fr;
    height: 100vh;
    #landingNav {
      .landingLink {
        height: 60px;
        width: 170px;
        font-size: 1.3em;
      }
    }
    #bodyLogo {
      justify-self: flex-start;
      #logo1 {
        height: 330px;
      }
    }
    #siteInfo {
      margin-top: 30px;
      h3 {
        font-size: 1.2em;
        text-align: center;
        margin: 10px;
      }
      h4 {
        font-size: 1.1em;
        text-align: center;
        margin: 10px;
        line-height: 18px;
      }
    }
  }
}

// laptops
@media (min-width: 1025px) {
}

// high res laptops and desktops
@media (min-width: 1281px) {
}
