@import './mixins';

#register {
  #registerCredentials {
    @include flex(column, center, center);
    .registerInputs {
      margin: 3px auto;
      padding: 3px 0px 3px 5px;
      height: 25px;
      width: 190px;
      border: none;
      border-radius: 3px;
    }
    #registerBtn {
      &:hover {
        cursor: pointer;
        background-color: $lightPalette4;
      }
      outline: none;
      border: none;
      border-radius: 3px;
      margin: 3px auto;
      padding: 3px 0px 3px 5px;
      width: 190px;
      height: 30px;
      transition: 0.25s;
      font-weight: 200;
      background-color: $lightPalette3;
    }
  }
}
