@import './mixins';

#spaceNav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  border-radius: 4px;
  height: 400px;
  width: 400px;
  @include flex(column, center, center);
  #spaceCredentials {
    @include flex(column, center, center);
    margin: 10px 25px 0px 25px;
    background: linear-gradient($lightPalette2, $lightPalette4);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    height: 200px;
    #minSpaceBtn {
      align-self: flex-end;
      margin: 10px 30px 0px 0px;
      outline: none;
      border: none;
      border-radius: 3px;
      height: 30px;
      width: 40px;
      background-color: $lightPalette3;
      &:hover {
        cursor: pointer;
        background-color: $lightPalette1;
      }
    }
    p {
      width: 70%;
    }
    input {
      margin: 3px auto;
      padding: 3px 0px 3px 5px;
      height: 25px;
      width: 190px;
      border: none;
      border-radius: 3px;
    }
    #submitSpaceBtn {
      &:hover {
        cursor: pointer;
        background-color: $lightPalette2;
      }
      outline: none;
      border: none;
      border-radius: 3px;
      margin: 3px auto;
      padding: 3px 0px 3px 5px;
      width: 190px;
      height: 30px;
      transition: 0.25s;
      font-weight: 200;
      background-color: $lightPalette1;
    }
  }
  #createSpaceSection {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    @include flex(row, center, center);
    h1 {
      margin-bottom: 0px;
      font-size: 1.5em;
    }
    #createSpaceBtn {
      &:hover {
        cursor: pointer;
        background-color: $lightPalette1;
      }
      outline: none;
      border: none;
      border-radius: 8px;
      margin-left: 10px;
      height: 25px;
      width: 30px;
      background-color: $lightPalette3;
    }
  }
  #mySpacesList {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    justify-self: center;
    .spaceBlock {
      margin: 10px 0px;
      .spaceTitle {
        font-size: 1.1em;
        .toSpaceBtn {
          &:hover {
            cursor: pointer;
            background-color: $lightPalette3;
          }
          outline: none;
          border: none;
          border-radius: 3px;
          margin: 3px auto;
          width: 190px;
          height: 60px;
          transition: 0.25s;
          font-size: 1.1em;
          font-weight: 500;
          background-color: $lightPalette4;
        }
      }
    }
  }
}

@media (min-width: 641px) {
  #spaceNav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    border-radius: 4px;
    height: 400px;
    width: 400px;
    @include flex(column, center, center);
    #spaceCredentials {
      @include flex(column, center, center);
      margin: 10px 25px 0px 25px;
      background: linear-gradient($lightPalette2, $lightPalette4);
      border: 2px solid black;
      border-radius: 10px;
      z-index: 10;
      height: 200px;
      #minSpaceBtn {
        align-self: flex-end;
        margin: 10px 30px 0px 0px;
        outline: none;
        border: none;
        border-radius: 3px;
        height: 30px;
        width: 40px;
        background-color: $lightPalette3;
        &:hover {
          cursor: pointer;
          background-color: $lightPalette1;
        }
      }
      p {
        width: 70%;
      }
      input {
        margin: 3px auto;
        padding: 3px 0px 3px 5px;
        height: 25px;
        width: 190px;
        border: none;
        border-radius: 3px;
      }
      #submitSpaceBtn {
        &:hover {
          cursor: pointer;
          background-color: $lightPalette2;
        }
        outline: none;
        border: none;
        border-radius: 3px;
        margin: 3px auto;
        padding: 3px 0px 3px 5px;
        width: 190px;
        height: 30px;
        transition: 0.25s;
        font-weight: 200;
        background-color: $lightPalette1;
      }
    }
    #createSpaceSection {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      @include flex(row, center, center);
      h1 {
        margin-bottom: 0px;
        font-size: 1.5em;
      }
      #createSpaceBtn {
        &:hover {
          cursor: pointer;
          background-color: $lightPalette1;
        }
        outline: none;
        border: none;
        border-radius: 8px;
        margin-left: 10px;
        height: 25px;
        width: 30px;
        background-color: $lightPalette3;
      }
    }
    #mySpacesList {
      grid-column: 1 / 2;
      grid-row: 2 / 4;
      justify-self: center;
      .spaceBlock {
        margin: 10px 0px;
        .spaceTitle {
          font-size: 1.1em;
          .toSpaceBtn {
            &:hover {
              cursor: pointer;
              background-color: $lightPalette3;
            }
            outline: none;
            border: none;
            border-radius: 3px;
            margin: 3px auto;
            width: 190px;
            height: 60px;
            transition: 0.25s;
            font-size: 1.1em;
            font-weight: 500;
            background-color: $lightPalette4;
          }
        }
      }
    }
  }
}
