@import './mixins';

#home {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  #spaceNav {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    background-color: white;
    border-radius: 4px;
    height: 80vh;
    width: 85%;
    #spaceCredentials {
      grid-column: 1 / 2;
      grid-row: 1 / 4;
      align-self: center;
      @include flex(column, flex-start, center);
      margin: 10px 25px 0px 25px;
      background: linear-gradient($lightPalette2, $lightPalette4);
      border: 2px solid black;
      border-radius: 2px;
      z-index: 10;
      height: 350px;
      #minSpaceBtn {
        align-self: flex-end;
        margin: 10px 30px 0px 0px;
        outline: none;
        border: none;
        border-radius: 3px;
        height: 30px;
        width: 40px;
        background-color: $lightPalette3;
        &:hover {
          cursor: pointer;
          background-color: $lightPalette1;
        }
      }
      h2 {
        margin-bottom: 30px;
      }
      p {
        width: 60%;
        margin-bottom: 30px;
      }
      input {
        margin: 3px auto;
        padding: 3px 0px 3px 5px;
        height: 25px;
        width: 190px;
        border: none;
        border-radius: 3px;
      }
      #submitSpaceBtn {
        &:hover {
          cursor: pointer;
          background-color: $lightPalette2;
        }
        outline: none;
        border: none;
        border-radius: 3px;
        margin: 3px auto;
        padding: 3px 0px 3px 5px;
        width: 190px;
        height: 30px;
        transition: 0.25s;
        font-weight: 200;
        background-color: $lightPalette1;
      }
    }
    #createSpaceSection {
      margin-top: 20px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      @include flex(row, center, center);
      h1 {
        margin-bottom: 0px;
        margin-left: 50px;
        border-bottom: 2px solid $lightPalette5;
        font-size: 1.5em;
      }
      #createSpaceBtn {
        &:hover {
          cursor: pointer;
          background-color: $lightPalette1;
        }
        outline: none;
        border: none;
        border-radius: 3px;
        margin: 10px 10px 10px 15px;
        height: 30px;
        width: 40px;
        background-color: $lightPalette3;
      }
    }
    #mySpacesList {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-self: center;
      align-self: center;
      @include scroll();
      &::-webkit-scrollbar {
        display: none;
      }
      .spaceBlock {
        margin: 10px 0px;
        .spaceTitle {
          .toSpaceBtn {
            &:hover {
              cursor: pointer;
              background-color: $lightPalette3;
            }
            &:focus {
              background-color: $lightPalette1;
            }
            outline: none;
            border: none;
            border-radius: 3px;
            border: 1px solid black;
            margin: 3px auto;
            width: 190px;
            height: 50px;
            transition: 0.25s;
            font-size: 1em;
            font-weight: 500;
            background-color: $lightPalette4;
          }
        }
      }
    }
    #inviteHeader {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      justify-self: center;
      h1 {
        font-size: 1.5em;
        border-bottom: 2px solid $lightPalette5;
      }
    }
    #myInviteList {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      margin-top: 20px;
      justify-self: center;
      align-self: center;
      width: 300px;
      .inviteBlock {
        @include flex(column, center, center);
        border: 2px solid $lightPalette1;
        border-radius: 4px;
        padding: 20px 10px;
        h3 {
          margin: 5px;
          text-align: center;
        }
        p {
          width: 100%;
        }
        .inviteBtns {
          .acceptBtn {
            border: none;
            outline: none;
            margin-right: 3px;
            background-color: $lightPalette4;
            border-radius: 4px;
            height: 30px;
            width: 70px;
            &:hover {
              cursor: pointer;
              background-color: $lightPalette1;
            }
          }
          .declineBtn {
            border: none;
            outline: none;
            margin-right: 3px;
            background-color: $lightPalette2;
            border-radius: 4px;
            height: 30px;
            width: 70px;
            &:hover {
              cursor: pointer;
              background-color: $lightPalette3;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 641px) {
  #home {
    #spaceNav {
      height: 85vh;
      width: 450px;
      #createSpaceSection {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        @include flex(row, center, center);
        h1 {
          margin-bottom: 0px;
          font-size: 1.75em;
        }
        #createSpaceBtn {
          &:hover {
            cursor: pointer;
            background-color: $lightPalette1;
          }
          outline: none;
          border: none;
          border-radius: 8px;
          margin-left: 10px;
          height: 25px;
          width: 30px;
          background-color: $lightPalette3;
        }
      }
      #inviteHeader {
        h1 {
          font-size: 1.75em;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  #home {
    #spaceNav {
      height: 85vh;
    }
  }
}
