@import './mixins';

#space {
  display: none;
}

// portrait tablets
@media (min-width: 641px) {
  #space {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
    height: 100vh;
    width: 100%;
    #showTitle {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 10;
    }
    #spaceTitle {
      @include testBorder(yellow);
    }
    #spacesInfo {
      overflow-y: scroll;
      scroll-behavior: smooth;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      @include testBorder(red);
    }
    #memberInfo {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      @include flex(column, center, center);
      @include testBorder(black);
      #memberList {
        @include flex(row, center, center);
      }
    }
    #postSection {
      overflow-y: scroll;
      scroll-behavior: smooth;
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      @include testBorder(blue);
    }
    #chatSection {
      @include testBorder(green);
    }
    #eventList {
      overflow-y: scroll;
      scroll-behavior: smooth;
      @include testBorder(gray);
    }
    #eventContainer {
      overflow-y: scroll;
      scroll-behavior: smooth;
      #event {
        @include flex(column, flex-start, center);
        padding-bottom: 25px;
        #newEvent {
          #eventDataInput {
            @include flex(column, center, center);
          }
        }
      }
    }
    #eventDetails {
      overflow-y: scroll;
      scroll-behavior: smooth;
      @include testBorder(gold);
    }
  }
}

// landscape tablets
@media (min-width: 961px) {
}

@media (min-width: 1025px) {
  #space {
    grid-template-columns: 25% repeat(5, 1fr) 25%;
    grid-template-rows: auto repeat(10, 1fr);
    width: 100%;
    #spaceTitle {
      @include testBorder(yellow);
      grid-column: 2 / 6;
      grid-row: 1 / 2;
    }
    #spacesInfo {
      grid-column: 1 / 2;
      grid-row: 1 / 6;
      @include testBorder(red);
    }
    #memberInfo {
      grid-column: 2 / 6;
      grid-row: 2 / 3;
      #memberList {
        @include flex(row, center, center);
      }
    }
    #postSection {
      grid-column: 2 / 6;
      grid-row: 3 / 12;
      @include testBorder(blue);
    }
    #chatSection {
      @include testBorder(green);
      grid-column: 1 / 2;
      grid-row: 6 / 12;
    }
    #eventContainer {
      @include testBorder(purple);
      grid-column: 6 / 8;
      grid-row: 1 / 5;
    }
    #eventList {
      @include testBorder(gray);
      grid-column: 6 / 8;
      grid-row: 5 / 8;
    }
    #eventDetails {
      grid-column: 6 / 8;
      grid-row: 8 / 12;
      @include testBorder(gold);
    }
  }
}
